* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-image: url(../img/pexels-stephen-audu-6693703.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 10rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1320px;
}
a {
  text-decoration: none;
}
a:hover {
  color: gray;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  width: 100%;
}
@keyframes from-rigth {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
